.background {
  background: #ff8400;
  background: radial-gradient(circle, rgb(255, 183, 27) 0%, rgb(255, 255, 255) 100%);
}

.logo {
  background-image: url("KVF_live_logo_transparent.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}

.progressBar {
  background-color: #1e90ff;

}

/*
.splash {
  background-image: url(Feature_graphic.png);
}
*/
.watermark {
  background-image: url("watermark.png");
  /* background-repeat: no-repeat; */
  background-size: 64px 64px;
}
