.background {
  background-color: #121212;
}

.logo {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.progressBar {
  background-color: #1e90ff;
}

.watermark {
  background-image: url("watermark.png");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}
