.background {
  background: #121212;
  background: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(30, 144, 255, 1) 100%);
}

.logo {
  background-image: url("watermark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}

.progressBar {
  background-color: #1e90ff;

}

.splash {
  background-image: url(splash.png);
}

.watermark {
  background-image: url("watermark.png");
  /* background-repeat: no-repeat; */
  background-size: 64px 64px;
}
